/*-----------------------------------------------
TABLE OF CONTENTS:

1) GENERAL
      A- Texts
      B- Images
2) MAIN
3) NAV
      A- Animation
        1. Iris Movement
        2. Blink
        3. Curtain Translate
      B- Menu
4) SECTIONS GROUP
5) EXAMPLES


-----------------------------------------------*/

/*-----------------------------------------------
1) GENERAL
-----------------------------------------------*/

:root {
  --nav-background: RebeccaPurple;
  --heading-color: RebeccaPurple;
  --text-color: #494a50;
  --code-color: RebeccaPurple;
  --code-background: #ffff66;
  --pink: #ed4276;
  --dark-blue: #2d1355;
  --main-font-family: "Lato", sans-serif;
  --heading-font-family: "Poppins", sans-serif;
  --code-font-family: "Inconsolata", monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.25rem;
  font-family: var(--main-font-family);
  color: var(--text-color);
  background-color: white;
  transition: all 1s ease-out;
  line-height: 1.625;
}

/*-------------------------------------------
      1) A- TEXTS
      -------------------------------------------*/

h1,
h2,
h3,
h4 {
  color: var(--heading-color);
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 0.75em auto;
}
/* Fluid font-size */
@media screen and (min-width: 37.5rem) {
  h1 {
    font-size: calc(1.5rem + 0.5 * ((100vw - 37.5rem) / 82.5));
  }
}
@media screen and (min-width: 120rem) {
  h1 {
    font-size: 2rem;
  }
}

h2,
h3,
h4 {
  font-size: 2rem;
  text-align: left;
  margin: 0 auto 1.25em auto;
}

p {
  text-align: left;
  margin: 0 auto 1.25em auto;
}

ul,
ol {
  padding-left: 3em;
  margin: 0 auto 1.25em auto;
}

li {
  margin: 0 auto 0.5em auto;
}

dt {
  margin: 0 auto;
}

dd {
  margin: 0 auto 1.25em auto;
}

code {
  font-family: var(--code-font-family);
  color: var(--code-color);
  background-color: var(--code-background);
  margin: 0 auto 1.25em auto;
}

a {
  color: inherit;
  padding: 2px;
  background: linear-gradient(var(--heading-color), var(--heading-color)) bottom
    no-repeat;
  background-size: 100% 2px;
  border: none;
  text-decoration: none;
  transition: background-size 0.4s;
}
a:hover {
  background-size: 100% 100%;
  color: white;
}

/*-------------------------------------------
      1) B- IMAGES
      -------------------------------------------*/

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/*-----------------------------------------------
  2) MAIN
  -----------------------------------------------*/

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 62rem) {
  main {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

/*-----------------------------------------------
  3) NAV
  -----------------------------------------------*/

nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%; /* Prevents the horizontal scroll generated by the vertical scroll when the width = 100vw. */
  padding: 4vh 5vw;
  z-index: 10;
  background-color: var(--nav-background);
}
@media screen and (min-width: 62rem) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 25vw;
    height: 100vh;
    padding: 1vh 2vw;
  }
}

nav > header {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

/*-----------------------------------------------
      3) A- ANIMATION
      -----------------------------------------------*/

.animation-container {
  width: 20vh;
  height: 18vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  overflow: hidden;
  background-color: var(--dark-blue);
  margin: 0 auto 2vh auto;
}

.eye {
  position: relative;
  top: -15%;
}
.eye:nth-of-type(1) {
  margin: 0 40% 1% 40%;
  z-index: 10;
}
.eye:nth-of-type(2),
.eye:nth-of-type(3) {
  margin: 1% 10%;
}

.sclera {
  width: 4vh;
  height: 4vh;
  background-color: white;
  position: relative;
  top: 0;
  transform: rotateZ(45deg);
  border-radius: 70% 0;
}

.iris {
  position: absolute;
  top: 30%;
  left: 46%;
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 50%;
  background-color: var(--dark-blue);
}

.eyelid {
  position: absolute;
  top: -18%;
  left: -32%;
  width: 6.5vh;
  height: 4.5vh;
  border-radius: 50%;
  transform: translateY(-81%);
  background-color: var(--dark-blue);
}

.shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*box-shadow: inset 1.5vh 0 2vh -0.75vh rgba(0, 0, 0, 0.5), inset -1.5vh 0 2vh -0.75vh rgba(0, 0, 0, 0.5);*/
  box-shadow: inset 0 0 4vh #120822;
  z-index: 90;
}

.curtain {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 100%;
  border-radius: 0;
  background-color: var(--nav-background);
  box-shadow: inset 0 0.75vh 0.4vh -0.5vh rgba(82, 41, 122, 0.6),
    inset 0 -0.75vh 0.4vh -0.5vh rgba(82, 41, 122, 0.6);
  z-index: 100;
  animation: curtain-translate 16s linear 2s 2;
}

.animation-container:hover .curtain {
  transform: translateY(-100%);
  transition: transform 0.5s ease-out;
}

.curtain > img {
  height: 70%;
}

/*-------------------------------------------
          3) A- 1. IRIS MOVEMENT
          -------------------------------------------*/

.eye:nth-of-type(1) > .iris,
.eye:nth-of-type(2) > .iris,
.eye:nth-of-type(3) > .iris {
  animation: look 16s linear 2s infinite;
}
@keyframes look {
  0% {
    transform: translateX(0) translateY(0);
  }
  26% {
    transform: translateX(0) translateY(0);
  }
  29% {
    transform: translateX(-5%) translateY(-39%);
  }
  40% {
    transform: translateX(-5%) translateY(-39%);
  }
  47% {
    transform: translateX(-92%) translateY(-42%);
  }
  52% {
    transform: translateX(-92%) translateY(-42%);
  }
  53% {
    transform: translateX(-41%) translateY(-16%);
  }
  80% {
    transform: translateX(-41%) translateY(-16%);
  }
  82% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

/*-------------------------------------------
          3) A- 2. BLINK
          -------------------------------------------*/

.eye:nth-of-type(1) > .eyelid {
  transform: translateY(0);
  z-index: 11;
  animation: open-and-blink 16s linear 2s infinite;
}
@keyframes open-and-blink {
  0% {
    transform: translateY(0);
  }
  52.9% {
    transform: translateY(0);
  }
  53% {
    transform: translateY(-81%);
  }
  59.9% {
    transform: translateY(-81%);
  }
  60% {
    transform: translateY(0);
  }
  61% {
    transform: translateY(-81%);
  }
  80.5% {
    transform: translateY(-81%);
  }
  82% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.eye:nth-of-type(2) > .eyelid,
.eye:nth-of-type(3) > .eyelid {
  z-index: 5;
  animation: blink 16s linear 2s infinite;
}
@keyframes blink {
  0% {
    transform: translateY(-81%);
  }
  59.9% {
    transform: translateY(-81%);
  }
  60% {
    transform: translateY(0);
  }
  61% {
    transform: translateY(-81%);
  }
  100% {
    transform: translateY(-81%);
  }
}

/*-------------------------------------------
          3) A- 3. CURTAIN TRANSLATE
          -------------------------------------------*/

@keyframes curtain-translate {
  0% {
    transform: translateY(0);
  }
  4% {
    transform: translateY(0);
    box-shadow: inset 0 0.75vh 0.4vh -0.5vh rgba(82, 41, 122, 0.6),
      inset 0 -0.75vh 0.4vh -0.5vh rgba(82, 41, 122, 0.6);
  }
  6% {
    transform: translateY(-6%);
    box-shadow: inset 0 0.75vh 0.4vh -0.5vh rgba(82, 41, 122, 0.6),
      inset 0 -0.75vh 0.4vh -0.5vh rgba(82, 41, 122, 0);
  }
  8% {
    transform: translateY(0);
    box-shadow: inset 0 0.75vh 0.4vh -0.5vh rgba(82, 41, 122, 0.6),
      inset 0 -0.75vh 0.4vh -0.5vh rgba(82, 41, 122, 0.6);
  }
  10% {
    transform: translateY(-9%);
    box-shadow: inset 0 0.75vh 0.4vh -0.5vh rgba(82, 41, 122, 0.6),
      inset 0 -0.75vh 0.4vh -0.5vh rgba(82, 41, 122, 0);
  }
  12% {
    transform: translateY(0);
    box-shadow: inset 0 0.75vh 0.4vh -0.5vh rgba(82, 41, 122, 0.6),
      inset 0 -0.75vh 0.4vh -0.5vh rgba(82, 41, 122, 0.6);
  }
  18% {
    transform: translateY(0);
    box-shadow: inset 0 0.75vh 0.4vh -0.5vh rgba(82, 41, 122, 0.6),
      inset 0 -0.75vh 0.4vh -0.5vh rgba(82, 41, 122, 0.6);
  }
  25% {
    transform: translateY(-100%);
    box-shadow: inset 0 0.75vh 0.4vh -0.5vh rgba(82, 41, 122, 0.6),
      inset 0 -0.75vh 0.4vh -0.5vh rgba(82, 41, 122, 0);
  }
  85% {
    transform: translateY(-100%);
    box-shadow: inset 0 0.75vh 0.4vh -0.5vh rgba(82, 41, 122, 0.6),
      inset 0 -0.75vh 0.4vh -0.5vh rgba(82, 41, 122, 0);
  }
  94% {
    transform: translateY(0);
    box-shadow: inset 0 0.75vh 0.4vh -0.5vh rgba(82, 41, 122, 0.6),
      inset 0 -0.75vh 0.4vh -0.5vh rgba(82, 41, 122, 0.6);
  }
  100% {
    transform: translateY(0%);
  }
}

/*-----------------------------------------------
      3) B- MENU
      -----------------------------------------------*/

.menu {
  list-style: none;
  color: white;
  padding-left: 3vw;
}

.menu li {
  padding: 0.5vh 0;
}

.nav-link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.nav-link:hover:before {
  content: "";
  background: var(--code-background);
  position: absolute;
  top: 0.7em;
  left: -0.75em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  animation: fadeIn 0.2s ease-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*-----------------------------------------------
  4) SECTIONS GROUP
  -----------------------------------------------*/

.sections-group {
  padding: 0 5vw;
}

section {
  padding-top: 10vh;
  margin-bottom: 10vh;
}
@media screen and (min-width: 62rem) {
  section {
    padding-top: 5vh;
    margin-left: 25vw;
  }
}

section:first-of-type {
  margin-top: 10vh;
}
section:last-of-type {
  margin-bottom: 15vh;
}

/*-----------------------------------------------
  5) EXAMPLES
  -----------------------------------------------*/

.codepen {
  height: 265px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  margin: 5vh 0;
  padding: 1em;
}

.space {
  width: 100%;
  height: 5vh;
}
